.expense-table {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 45%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  @media (max-width: 768px) {
    .expense-table {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    table {
        margin-bottom: 40px;
        border-collapse: collapse;
        width: 45%;
      }
  }